#main {
    border: solid;
    border-color: darkgrey;
    border-width: 1px;
    display: inline-block;
    padding: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.header-item {
    font-size: 2em;
    width: 96px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

#startButton {
    font-family: NotoColorEmoji;
}

#counter, #clock{
    background-color: #333;
    color: red;
    display: inline-block;
    border-radius: 8px;
}

.tile {
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 4px;
    border: solid;
    border-color: darkgray;
    border-width: 1px;
    font-weight: bold;
}

.tile[uncovered] {
    border: none;
}

.tile[disabled] {
    opacity: 0.2;
}

.tile[marked] {
    font-family: NotoColorEmoji;
}

.tile[detonated] {
    background-color: red;
    font-family: NotoColorEmoji;
}

.tile[_1] {
    color: blue;
}
.tile[_2] {
    color: green;
}
.tile[_3] {
    color: red;
}
.tile[_4] {
    color: darkblue;
}
.tile[_5] {
    color: darkred;
}
.tile[_6] {
    color: teal;
}
.tile[_7] {
    color: orange;
}
.tile[_8] {
    color: magenta;
}